*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'popins',sans-serif;
}
header{
    background-color: #1428a0;
    color: white;
    height: 80px;
    width: 99vw;
    line-height: 80px;
    box-shadow: 0 5px 15px grey;
    /* max-width: 1300px; */
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
}
header h1{
    
    font-family: Humane;
    float: left;
    font-size: 3.5rem;
    margin-left: 30px;
}
header nav{
    
    float: right;
}
.clear{
    clear: both;
}
header nav ul li{
    
   
    display: inline-block;
}
header nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-right: 40px;
    color: white;
    transition: 0.3s ease-in-out;
}
header h1 span{
    /* color: red; */
}
header nav ul li a:hover{
    color: black;
}
.btn{
    display: inline;
    /* width: 35%;
    height: 40px; */
    /* background-color:#fff; */
    /* display: block; */
    /* margin:750px; */
    float: right;
    margin-top: -200px;
    margin-right: 400px;
    /* padding: 5px; */
    text-align: center;
    /* font-size: 1.15rem; */
    /* border-radius: 10px; */
    /* border: 1px solid gray; */
    /* margin-top: -10px; */
    /* width: 150px; */
    /* background-color:rgb(85, 165, 69); */
    color: black;
    cursor: pointer;
    color: #262626;
    background-color: darkgreen;
    box-shadow: 2px 2px 4px black;
    width: 100px;
    height: 30px;
}
.btn:hover{
    background-color: black;
    color: white;
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(https://static.wixstatic.com/media/11062b_1ca0162aa6ee4d589a779cb574990aa2~mv2.jpg/v1/fill/w_852,h_492,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Building%20Facade.jpg);
    height: 90vh;
    width: 100vw;
    background-size: cover;
}
.banner-contents{
    font-family: oswald-medium ;
/* Font being rendered:oswald-medium 100.0% ; */
    color:white;
    position: relative;
    top: 20%;
    width: 35%;
    margin-left: 750px;
}
.banner-contents h2{
    /* font-weight: 100; */
    font-size: 25.2441px;
    color:white;
}
.banner-contents h1{
    font-size: 3rem;
    text-shadow: 2px 2px 2.7px grey;
}
.heading{
    text-align: center;
    margin: 10px;
}
.heading h2{
    color: white;
    margin-bottom: 10px;
}
.service-card-container{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.service-card{
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    height: 270px;
    padding: 20px;
}
.service-card-header h1{
    display: inline-block;
}
.service-card-header i{
    font-size: 1.5rem;
    margin-right: 10px;
}
.service-card-contents{
    margin-left: 25px;
    margin-top: 10px;
}
.clear{
    clear: both;
}
.profile_card_container{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    color: white;
    
}
img{
        width: 40%;
        border-radius: 60% 60%;
        border: 3px solid purple;
        padding: 3px;
}
.sudhin{
    width: 30%;
    margin-left: 10px;
    border: 3px solid black;
    padding: 3px;
    background-color:#2F0743;
    border-radius: 10px;
    box-shadow: 5px 5px 25px gray;
    text-align: center;
}
.abhijith{
    width: 30%;
    border: 3px solid black;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:#2F0743;
    border-radius: 10px;
    box-shadow: 5px 5px 25px gray;
    text-align: center;
}
.jinosh{
    width: 30%;
    margin-left: 10px;
    border: 3px solid black;
    padding: 3px;
    background-color:#2F0743;
    border-radius: 10px;
    box-shadow: 5px 5px 25px gray;
    text-align: center;
}
.rejin{
    width: 30%;
    margin-left: 10px;
    border: 3px solid black;
    padding: 3px;
    background-color:#2F0743;
    border-radius: 10px;
    box-shadow: 5px 5px 25px gray;
    text-align: center;
}
.ten{
    font-size: 2rem;
    color: #fff;
}
.nine{
    color:BLACK;
}
.eight{
    margin: 5px;
    color: white;
}
button{
    color: #262626;
    background-color: darkgreen;
    box-shadow: 2px 2px 4px black;
    width: 100px;
    height: 30px;
}
/* button:hover{
    background-color: rgb(0, 183, 255);
    color: #fff;
    cursor: pointer;
} */
i{
    display: inline-block;
    width: 30px;
    margin: auto;
    font-size: 1.5rem;
    border-radius: 10px;
}
i:hover{
    background-color: antiquewhite;
    transition: 0.4s linear;
}
.profile_card_footer{
    margin-top: 20px;
}
.heading1{
    text-align: center;
    margin: 10px;
}
.heading1 h2{
    color: black;
    margin-bottom: 10px;
}
.message{
    background-color: #fff;
    box-shadow: 1px 1px 0.7px lightslategrey;
    width: 30%;
    padding:40px;
    float: right;
    margin-right: 200px;
}
.change{
    color: black;
}
.message input[type='text'],input[type='email']{
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
    height: 30px;
}
.message h2{
    text-align: center;
    font-size: 2rem;
}
.btn_msg{
    display: inline-block;
    height: 30px;
    width: 45%;
    justify-content: space-evenly;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color:black;
    color: white;
}
.btn_msg:hover{
    background-color:white;
    color: black;
}
.links{
    color: black;
    text-decoration: none;
    width: 30%;
    height: 250px;
    padding: 45px;
    font-size: larger;
    margin-left: 120px;
}
.links a{
    color: black;
    text-decoration: none;
}
.links h6{
    color: black;
}
.address{
    padding: 20px;
}
.seven{
    font-size:10px;
    text-align: center;
    padding: 150px;
    border: 20px;
}
h3{
    color: black;
    border: 10px;
    padding: 10px;
}
h4{
    padding-bottom: 10px;
}
.one{
    border-top: 1px dashed grey;
    
}





